<!-- Hero--><!-- Hero-->
            <section class="module-cover-slides fullscreen">
                <ul class="slides-container">
                    <li class="parallax text-center" data-overlay="0.3"><%= image_tag 'shop/chat-3.jpg' %>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>I love cocks</strong></h1>
                                    <p class="m-b-40">loocking for a friendship partner?  <br> try our sexual trained category.</p>
                                    <%= link_to "Let's save life", home_path, :class => "btn btn-lg btn-circle btn-warning", :id => "/items" %>
                                    <p><a class="btn btn-lg btn-circle btn-warning" href="#">Get Started</a><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="parallax" data-overlay="0.5"><%= image_tag 'shop/chat-5.jpg' %>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Just feed me <br> fucking human slave.</strong></h1>
                                    <p class="m-b-40">We sell you the finnest cat quality  <br> Means that they need the finnest attention.</p>
                                    <p><a class="btn btn-lg btn-circle btn-brand" href="#">Get Started</a><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="parallax text-center" data-overlay="0.1" data-gradient="1"><%= image_tag 'shop/chat-2.jpg' %>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Beauty<br> is sometime inside.</strong></h1>
                                    <p class="m-b-40">See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.</p>
                                    <p><a class="btn btn-lg btn-circle btn-new-white" href="#">Get Started</a><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="slides-navigation"><a class="prev" href="#"><span class="ti-angle-left"></span></a><a class="next" href="#"><span class="ti-angle-right"></span></a></div>
            </section>
            <!-- Hero end-->
