<!-- Counters-->
<section id="counter" class="module parallax" data-background="assets/images/module-1.jpg" data-overlay="0.8">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="counter">
                    <div class="counter-number">
                        <h6><strong class="counter-timer" data-from="0" data-to="15384">0</strong></h6>
                    </div>
                    <div class="counter-title">picture sell</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter">
                    <div class="counter-number">
                        <h6><strong class="counter-timer" data-from="0" data-to="5">0</strong></h6>
                    </div>
                    <div class="counter-title">Team members</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter">
                    <div class="counter-number">
                        <h6><strong class="counter-timer" data-from="0" data-to="1912803">0</strong></h6>
                    </div>
                    <div class="counter-title">Crew IQ accrued </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter">
                    <div class="counter-number">
                        <h6><strong class="counter-timer" data-from="0" data-to="15384">0</strong></h6>
                    </div>
                    <div class="counter-title">Happy Clients</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counters end-->
