<!-- Form-->
<section class="module divider-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-9 m-auto text-center">
                <h1>Let's talk.</h1>
                <p class="lead">Show us how you experience our website dude, you r welcome .</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="space" data-MY="60px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="contact-form" method="post" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" placeholder="Name" required="">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" placeholder="E-mail" required="">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" name="subject" placeholder="Subject" required="">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" name="message" placeholder="Message" rows="12" required=""></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p></p>
                            <div class="text-center">
                                <input class="btn btn-circle btn-brand" type="submit" value="Send Message">
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Ajax response-->
                <div class="ajax-response text-center" id="contact-response"></div>
            </div>
        </div>
    </div>
</section>
<!-- Form end-->
