<!-- Hero-->
<section id="hero-about-banner" class="module-cover parallax text-center" data-overlay="0.1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to the Big Dick Club<br>based in Grenoble</h1>
                <p>Creating digital products for creative people</p>
            </div>
        </div>
    </div>
    <%= render 'static_pages/components/counters_about' %>
</section>
<!-- Hero end-->
