<!-- Hero-->
<section id="contact-banner" class="module-cover parallax text-center" data-overlay="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Do NOT contact us</h2>
                <p>While you r not a sexy women, else, 0613747889.</p>
            </div>
        </div>
    </div>
</section>
<!-- Hero end-->
