<!-- Map-->
<section class="maps-container">
    <div class="map" data-addresses="[45.1444326, 5.7105732]" data-info="[Lorem ipsum dolor sit amet.]" data-icon="assets/images/map-icon.png" data-zoom="15"></div>
</section>
<!-- Map <end--></end-->
