<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut salut, encore un pigeon qui a passé une commande !</h1>
    <p><%= @user %> a passé une commande d'un montant de <%= @amount %> balles.</p>
    <p>

